logs
*.log
yarn-debug.log*
yarn-error.log*
.yarn/
.yarnrc.yml
package-lock.json

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.eslintcache
.prettier/
.prettier-cache/

/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

.env
.env.local
.env.test
.env.production
.env.development
.env.example

